body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  margin-top: 40px; 
}

.timer {
  font-size: 3em; 
  margin: 20px 0;
}

.button-container {
  margin-top: 20px;
}

button {
  font-size: 1.5em; 
  padding: 15px 30px; 
  margin: 0 10px;
  cursor: pointer;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 15px;
  border: 0px solid #888;
  justify-content: center;
  align-items: center;
  align-content: center;
  
  /* width: 50%; Could be more or less, depending on screen size */
}

#error-message{
  margin: 0;
  font-size: 1.5rem;
  justify-self: center;
  text-align: center;
}
/* Close button */
.close {
  align-self: flex-end;
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  margin-top: -15px;
  margin-right: -10px;
  z-index: 1;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error-message{
  display: inline-block;
  justify-content: center;
  align-items: center;
  justify-self: center;
  z-index: 0;
}